/* Floating Action Button (Back) */
.back-button-fab {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(18, 18, 19, 0.4);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.fab-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
}

.fab-inner ion-icon {
  font-size: 24px;
}

.back-button-fab:hover {
  transform: scale(1.1);
  background: rgba(18, 18, 19, 0.7);
  border-color: var(--orange-yellow-crayola);
  color: var(--orange-yellow-crayola);
}

.back-button-fab:hover .fab-inner {
  color: var(--orange-yellow-crayola);
}
